:root {

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --DarkGray: hsl(0, 0%, 55%);
    --VeryDarkGray: #696969;
    --GrayishBlue:  rgb(200, 200, 203);
    --VeryDarkGrayishBlue:rgb(75, 88, 98);
    --VeryDarkBlackBlue:hsl(240, 10%, 16%);
    --whiteSmoke:whitesmoke;
    --BgGradient:hsl(13, 52%, 64%);
    --BgGradientend:hsl(353, 100%, 62%);
    --BgGradient2:rgb(44, 45, 63);
    --BgGradient2end:hsl(237, 23%, 32%);

}