@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;900&display=swap");
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Cinzel', serif;
  font-size: 20px;
  background-color: #2F5D62;
  color: #FFE268;
  text-align: center;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#title {
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.dice-buttons {
  margin-top: 4rem;
}

.actions {
  margin-top: 3rem;
}

button {
  font-weight: 900;
  border: none;
  padding: 0.5rem 2rem;
  margin: 0px 0.5rem;
}

button:hover, button:focus {
  outline: 2px dotted #FFE268;
  outline-offset: 2px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.4;
  background-color: black;
  color: white;
}

button:disabled:hover {
  outline: 0px dotted #FFE268;
  outline-offset: 2px;
  cursor: not-allowed;
  opacity: 0.4;
}

.add {
  background-color: #FFE268;
  color: #364547;
  opacity: 0.7;
}

.add:hover, .add:focus {
  opacity: 1;
}

.remove {
  background-color: #364547;
  color: #FFE268;
  opacity: 0.7;
}

.remove:hover, .remove:focus {
  opacity: 1;
}

.toss {
  background-color: #2F5D62;
  border: 5px solid #FFE268;
  color: #FFE268;
}

.toss:hover, .toss:focus {
  outline: 2px dotted #FFE268;
  outline-offset: 2px;
  cursor: pointer;
}

.dices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 0vw 0px;
  margin: 0rem auto;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  counter-reset: diceCounter;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.dice {
  background-color: #FFE268;
  color: #364547;
  height: 8rem;
  width: 8rem;
  margin: 0rem 1.5rem;
  border: 1px solid #FFE268;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px 0px #364547;
          box-shadow: 5px 5px 10px 0px #364547;
  position: relative;
}

.dice::before {
  counter-increment: diceCounter;
  content: counter(diceCounter);
  position: absolute;
  border: 2px dotted  #FFE268;
  top: -27%;
  left: -20%;
  width: 3rem;
  height: 3rem;
  color: #FFE268;
  font-weight: 900;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.circle1 {
  background-image: url("../circle-solid.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-animation: appear 0.5s 1 forwards;
          animation: appear 0.5s 1 forwards;
}

.circle2 {
  background-image: url("../circle-solid.svg"), url("../circle-solid.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat,no-repeat;
  background-position: 10% 10%, 90% 90%;
  -webkit-animation: appear 0.5s 1 forwards;
          animation: appear 0.5s 1 forwards;
}

.circle3 {
  background-image: url("../circle-solid.svg"), url("../circle-solid.svg"), url("../circle-solid.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat,no-repeat,no-repeat;
  background-position: 10% 10%,50%, 90% 90%;
  -webkit-animation: appear 0.5s 1 forwards;
          animation: appear 0.5s 1 forwards;
}

.circle4 {
  background-image: url("../circle-solid.svg"), url("../circle-solid.svg"), url("../circle-solid.svg"), url("../circle-solid.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
  background-position: 10% 10%,90% 10%,10% 90%, 90% 90%;
  -webkit-animation: appear 0.5s 1 forwards;
          animation: appear 0.5s 1 forwards;
}

.circle5 {
  background-image: url("../circle-solid.svg"), url("../circle-solid.svg"), url("../circle-solid.svg"), url("../circle-solid.svg"), url("../circle-solid.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  background-position: 10% 10%,90% 10%,10% 90%, 90% 90%,50%;
  -webkit-animation: appear 0.5s 1 forwards;
          animation: appear 0.5s 1 forwards;
}

.circle6 {
  background-image: url("../circle-solid.svg"), url("../circle-solid.svg"), url("../circle-solid.svg"), url("../circle-solid.svg"), url("../circle-solid.svg"), url("../circle-solid.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  background-position: 10% 10%,10% 50%,10% 90%,90% 10%,90% 50%, 90% 90%;
  -webkit-animation: appear 0.5s 1 forwards;
          animation: appear 0.5s 1 forwards;
}

.default {
  -webkit-animation: disappear 0.5s 1 forwards;
          animation: disappear 0.5s 1 forwards;
}

.slideIn {
  -webkit-animation: slideUp 0.5s 1 forwards;
          animation: slideUp 0.5s 1 forwards;
}

.slideOut {
  -webkit-animation: slideUpper 0.5s 1 forwards;
          animation: slideUpper 0.5s 1 forwards;
}

.onlybg {
  background-color: #2F5D62;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
    height: 0rem;
    width: 0rem;
    margin: 0rem 0rem;
    border: 0px solid #FFE268;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    height: 8rem;
    width: 8rem;
    margin: 0rem 1.5rem;
    border: 1px solid #FFE268;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
    height: 0rem;
    width: 0rem;
    margin: 0rem 0rem;
    border: 0px solid #FFE268;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    height: 8rem;
    width: 8rem;
    margin: 0rem 1.5rem;
    border: 1px solid #FFE268;
  }
}

@-webkit-keyframes slideUpper {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    height: 8rem;
    width: 8rem;
    margin: 0rem 1.5rem;
    border: 1px solid #FFE268;
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
    height: 0rem;
    width: 0rem;
    margin: 0rem 0rem;
    border: 0px solid #FFE268;
  }
}

@keyframes slideUpper {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    height: 8rem;
    width: 8rem;
    margin: 0rem 1.5rem;
    border: 1px solid #FFE268;
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
    height: 0rem;
    width: 0rem;
    margin: 0rem 0rem;
    border: 0px solid #FFE268;
  }
}

@-webkit-keyframes appear {
  0% {
    background-size: 600% 600%;
    background-origin: center;
  }
  100% {
    background-size: 35px 35px;
    background-origin: center;
  }
}

@keyframes appear {
  0% {
    background-size: 600% 600%;
    background-origin: center;
  }
  100% {
    background-size: 35px 35px;
    background-origin: center;
  }
}

@-webkit-keyframes disappear {
  0% {
    background-size: 35px 35px;
    background-origin: center;
  }
  100% {
    background-size: 600% 600%;
    background-origin: center;
  }
}

@keyframes disappear {
  0% {
    background-size: 35px 35px;
    background-origin: center;
  }
  100% {
    background-size: 600% 600%;
    background-origin: center;
  }
}

.desc {
  opacity: 0.4;
  padding: 0px 2rem;
}

.desc h2 {
  font-size: 1.5rem;
}

.desc p {
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  @-webkit-keyframes slideUp {
    0% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0;
      height: 2rem;
      width: 2rem;
      margin: 0rem;
      border: 0px solid #FFE268;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
      height: 8rem;
      width: 8rem;
      margin: 1.5rem;
      border: 1px solid #FFE268;
    }
  }
  @keyframes slideUp {
    0% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0;
      height: 2rem;
      width: 2rem;
      margin: 0rem;
      border: 0px solid #FFE268;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
      height: 8rem;
      width: 8rem;
      margin: 1.5rem;
      border: 1px solid #FFE268;
    }
  }
  @-webkit-keyframes slideUpper {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
      height: 8rem;
      width: 8rem;
      margin: 1.5rem;
      border: 1px solid #FFE268;
    }
    100% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0;
      height: 2rem;
      width: 2rem;
      margin: 0rem;
      border: 0px solid #FFE268;
    }
  }
  @keyframes slideUpper {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1;
      height: 8rem;
      width: 8rem;
      margin: 1.5rem;
      border: 1px solid #FFE268;
    }
    100% {
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
      opacity: 0;
      height: 2rem;
      width: 2rem;
      margin: 0rem;
      border: 0px solid #FFE268;
    }
  }
  #title {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */